.flows.json.backup
[{"id":"dda07fe4.c5e7","type":"tab","label":"Flow 1"},{"id":"d4b11932.682d68","type":"inject","z":"dda07fe4.c5e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":119,"wires":[["94fea6f0.451488"]]},{"id":"94fea6f0.451488","type":"function","z":"dda07fe4.c5e7","name":"dummy","func":"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":185,"wires":[["9d95d16b.d558"]]},{"id":"9d95d16b.d558","type":"debug","z":"dda07fe4.c5e7","name":"","active":true,"console":"false","complete":"false","x":567,"y":232,"wires":[]},{"id":"20f72dbb.9521b2","type":"inject","z":"dda07fe4.c5e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":220,"wires":[["94fea6f0.451488"]]}]